<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--DEBUG TestDatabaseConnection()-->
		<add name="TestPostgreSqlConnection"
             connectionString="Host=localhost;Port=5432;Database=northwind;Username=sa;Password=sa"
             providerName="Npgsql" />
	</connectionStrings>
</configuration>